/bin/tmux
/vim/vim/bundle/Vundle.vim
/vim/vim/bundle/php.vim
/vim/vim/bundle/nerdcommenter
/vim/vim/bundle/vim-fugitive
/vim/vim/bundle/vim-bufferline
/vim/vim/bundle/vim-material-theme
/vim/vim/bundle/vim-gitgutter
/vim/vim/bundle/nerdtree
/vim/vim/bundle/vim-airline
/vim/vim/bundle/vim-surround
/vim/vim/bundle/emmet-vim
/vim/vim/bundle/ctrlp.vim
/gnupg/reader_0.status
/gnupg/pubring.kbx
/gnupg/trustdb.gpg
/gnupg/private-keys-v1.d
/gnupg/crls.d
ssh/id_*
/ssh/config
/ssh/known_hosts
/zsh/zsh/z.zsh
/gnupg/openpgp-revocs.d
/macOS/Alfred/Alfred.alfredpreferences
/gnupg/tofu.db
/gnupg/random_seed
